body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}
h1{
    color: #396;
    font-weight: bold;
    font-size: 50px;
    margin: 135px 0px 20px;
}

h2{
    color:red;
    font-weight: bold;
    font-size: 50px;
    margin: 135px 0px 20px;
}


#clockDiv{
    margin: auto;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 55px;
}


#clockDiv > div{
    background-color: rgb(11, 70, 11);
     padding: 65px;
     display: inline-block;
     padding-top: 60px;
     border-radius: 8px;
     box-sizing: border-box;
}

#clockDiv div > span{
    background-color: black;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 55px;
    display: inline-block;
    color: white;
    }

.text-muted{
    color: white;
    font-size: 22px;
    padding-top: 5PX;
} 





